body {
  background-image: url("https://i.pinimg.com/736x/d1/2d/10/d12d10d136e57bf48bee776e84004f60.jpg");
  background-size: 1000px;
  font-family: "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    255,
    255,
    255,
    0.1
  ); /* Ajusta el último valor para la opacidad */
  z-index: -1;
}

#logo {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 3px;
  width: 650px;
  height: 80px;
  margin-top: auto;
  margin-bottom: auto;
}

header h1 {
  font-size: 2.5vw; /* Comienza con un tamaño de fuente más pequeño */
  line-height: 1.2; /* La altura de línea proporcional */
  text-align: center; /* Alineación a la izquierda */
  font-weight: 200; /* El peso de la fuente */
  margin: 0 auto; /* Centrado automático */
  max-width: 100%; /* Máximo ancho del título */
  padding: 1em 0; /* Espacio arriba y abajo */
  color: #f6f4e6; /* Color del texto */
  font-family: "Georgia", serif; /* Tipo de letra */
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  gap: 1em;
  padding: 1em;
  list-style: none;
  width: 100%;
}
/* Estilos para los items (tarjetas) */

li {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* Se ajusta el flex-basis para tener en cuenta el margen y el relleno */
  flex-basis: calc(33.333% - 20px); /* Restar el total de márgenes y paddings */
  margin: 10px; /* Se reduce el margen para ajustar las tarjetas */
  padding: 0 1em;
  justify-content: space-between;
  font-size: 1.3em;
  font-family: "Calibri", sans-serif;
}
img {
  width: 100%;
  height: auto;
}

.contenedor-flex {
  display: flex;
  justify-content: space-between; /* Distribuye los elementos uniformemente */
  align-items: center; /* Centra los elementos verticalmente */
  background-color: #41444b; /* Color de fondo */
  padding: 1px 5px; /* Relleno interno */
  border-radius: 2px; /* Bordes redondeados */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
  margin: 5px auto; /* Margen alrededor del contenedor */
  width: 100%; /* Ocupa todo el ancho disponible */
  max-width: 100%; /* Asegura que no sea más ancho que el padre */
  flex-wrap: wrap; /* Permite que los elementos se envuelvan si no caben en una sola fila */
}

label {
  font-family: "Georgia";
  font-size: 20px;
  color: #eaeaea;
  margin-left: 25px;
  text-align: right;
}

[data-testid="select-filter"] {
  font-size: 17px;
  font-family: "Balthazar", serif;
  height: 30px;
  width: 120px;
  margin-left: 5px;
  background-color: #52575d;
  border: none;
  border-radius: 5px;
}

button {
  display: flex;
  border: none;
  color: black;
  font-size: 17px;
  padding: 7px 7px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #fddb3a;
}

#contenedor-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end; /* Cambiado a align-items: flex-start para alinear a la izquierda */
  width: 100%;
  height: 35px;
}

#estadistica {
  font-family: "Georgia";
  font-size: 20px;
  color: #eaeaea;
  margin: 5px;
  text-align: left;
  margin-right: auto;
}

#chatGrupal,
#botonApiKey {
  border: none;
  color: black;
  font-size: 17px;
  padding: 7px 7px;
  background-color: #fddb3a;
  cursor: pointer;
  border-radius: 5px;
  margin: 0%;
  margin: 0 5px; /* Agregado margen a ambos lados */
}

#chatGrupal{
  position: absolute;
  margin: 0 6%;
}

#botonApiKey{
position: absolute;
}

#mensajeError {
  color: black;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 10px;
  background-color: #f9f9f9;
  cursor: pointer;
  border-radius: 10px;
  position: relative;
  top: -100px;
  margin-left: auto;
  right: 50%;
  transform: translateX(50%);
  background-color: #f6f4e6;
  top: 50px;
  margin-left: auto;
  right: 50%;
  transform: translateX(50%);
  text-align: center;
}
#botonRegresar {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #ff0000;
  margin: 0 auto;
}

#enviar {
  position: relative;
  margin-top: 460px;
}

#botonRegresar {
  position: absolute;
  left: 0;
  top: 0;
  width: 80px;
  height: 35px;
  font-size: medium;
}


#chat_grupal {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  font-family: 'Calibri', sans-serif;
  font-weight: bold;
  font-size: 20px;
  background-color: #514E4E;
  border-radius: 10px;
  margin-top: 50px;
  width: 100vw; /* Ancho completo de la ventana */
  margin-left: auto;
  margin-right: auto;
}

.uno {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  max-width: 850px;
  height: 70vh;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5%;
  margin: 5vh auto 0;
  box-sizing: border-box;
}

.dos {
  display: flex;
  width: 60%;
  max-width: 750px;
  height: 55vh;
  background-color: rgba(255, 255, 255, 0.967);
  border-radius: 5%;
  margin: -65vh auto 0;
  box-sizing: border-box;
}

.tres {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 60%;
  max-width: 750px;
  height: 6vh;
  background-color: #010562;
  border-radius: 7px;
  margin: 2vh auto 0;
  box-sizing: border-box;
}

.tres textarea {
  position: absolute;
  display: flex;
  width: 80%; /* Ajusta este valor según tus necesidades */
  max-width: 750px;
  height: 10vh; /* Ajusta este valor según tus necesidades */
  max-height: 4vh;
  font-family: 'Calibri', sans-serif;
  color: #656464;
  border-radius: 7px;
  resize: none;
  box-sizing: border-box;
  left: 10px; /* Ajusta este valor para mover el textarea a la izquierda */
  bottom: 8px; /* Ajusta este valor para alinear con el botón */
}

.enviar-g {
  font-family: 'Calibri', sans-serif;
  color: #656464;
  padding: 5px 3vw; /* Ajusta este valor según tus necesidades */
  font-size: 16px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  position: absolute;
  bottom: 8px; /* Ajusta este valor para alinear con el textarea */
   
}

.enviar-g:hover {
  background-color: #010562;
  color: #f9f9f9;
}

#ingreso {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  font-family: 'Calibri', sans-serif;
  font-weight: bold;
  font-size: 25px;
  background-color: #514E4E;
  border-radius: 10px;
  margin-top: 50px;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
}

#ingreso:first-line {
  font-size: 30px;
}

#ingreso button {
  font-family: "Calibri", sans-serif;
  padding: 5px 8px;
  font-size: 14px;
  cursor: pointer;
}

#apiTex {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  resize: none;
  width: 30%;
  height: 100px;
  border-radius: 25px;
  line-height: 100px;
  font-family: "Calibri", sans-serif;
  font-size: 18px;
  margin: 5% auto;
}

#enviar {
  text-align: center;
  font-family: "Calibri", sans-serif;
  padding: 10px 15px;
  font-size: 17px;
  cursor: pointer;
  margin: 20px auto;
}
#enviar:hover {
  background-color: #010562;
  color: #f9f9f9;
}

#Regresar {
  position: absolute;
  top: calc(50% + 70px);
  left: 50%;
  transform: translateX(-50%);
}

#detallesDiv{
  display: flex;
  position: relative;
}
.contenedorPrincipal {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 90%;
  max-width: 2550px;
  height: 90vh;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5%;
  margin: 5vh auto 0;
  box-sizing: border-box;
}
.contenedorTexto {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 45%;
  max-width: 720px;
  height: 85vh;
  background-color: rgba(255, 255, 255, 0.967);
  border-radius: 5%;
  margin: 0 20px;
  box-sizing: border-box;
}

.barraChat{
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 92%;
  max-width: 540px;
  height: 6vh;
  background-color: #010562;
  border-radius: 7px;
  margin: 77vh auto 0;
  box-sizing: border-box;
}

.barraChat textarea {
  position: absolute;
  display: flex;
  width: 80%; /* Ajusta este valor según tus necesidades */
  max-width: 450px;
  height: 10vh; /* Ajusta este valor según tus necesidades */
  max-height: 4vh;
  font-family: 'Calibri', sans-serif;
  color: #656464;
  border-radius: 7px;
  resize: none;
  box-sizing: border-box;
  left: 10px; /* Ajusta este valor para mover el textarea a la izquierda */
  bottom: 8px; /* Ajusta este valor para alinear con el botón */
}

.enviar-chat {
  font-family: 'Calibri', sans-serif;
  color: #656464;
  padding: 5px 3vw; /* Ajusta este valor según tus necesidades */
  font-size: 16px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  bottom: 8px; /* Ajusta este valor para alinear con el textarea */
  right: 10px; /* Ajusta este valor según tus necesidades */
}

.enviar-chat:hover {
  background-color: #010562;
  color: #f9f9f9;
}

#logoDetalles{
  display: flex;
  width: 210px;
  height: 190px;
  display: flex;
  margin: auto;
  margin-top: 5px;
  padding: 5px;
}
#fotoPersonaje{
  width: 880px;
  height: 830px;
  display: block;
  margin: auto;
  margin-top: 5px;
  padding: 5px;
}
#descripcion {
  top: 20px;
  left: 20px; 
  background-color: rgba(0, 161, 213, 0.5); 
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #FFFFFF;
  text-shadow: 1px 1px 2px #000;
  line-height: 1.6;
  text-align: center;
}

#lanzamiento,
#generoJuego,
#estiloDeJuego,
#perspectivaJuego,
#multiplayerJuego {
  background-color: rgba(255, 229, 0, 0.5);
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Arial";
  font-size: 24px;
  font-weight: bold;
  color: #FFFFFF; /* Corregí el valor del color para que sea válido */
  text-shadow: 1px 1px 2px #000;
  display: list-item;
  max-width: 300px;
  min-width: 100px;
  word-wrap: break-word;
}

footer {
  width: 100%;
  background-color: #333333;
  color: white;
  text-align: center;
  padding: 1em;
  margin-top: auto;
}



@media (max-width: 912px) {
  #logo {
    position: relative;
    margin-left: auto;
    margin-top: auto;
    padding: 3px;
    width: 250px;
    height: 50px;
  }
  [data-testid="select-filter"] {
    margin-right: 10px;
    display: flex;
    flex-direction: center;
    width: 100%;
    text-align: center;
  }
  button {
    border: none;
    color: black;
    font-size: 17px;
    padding: 7px 7px;
    margin-left: 300px;
    margin-top: 5%;
    cursor: pointer;
    border-radius: 5px;
    background-color: #fddb3a;
  }
  li {
    height: 350px;
    width: calc(50% - 10px);
    box-sizing: border-box;
    margin-bottom: 10px;
    text-align: left;
    display: flex;
    flex-basis: calc(33.333% - 20px);
    white-space: normal;
    overflow: visible;
    max-width: 100%;
    flex-basis: calc(
      33.333% - 20px
    ); /* Restar el total de márgenes y paddings */
    margin: 10px; /* Se reduce el margen para ajustar las tarjetas */
    padding: 0 1em;
    justify-content: space-between;
  }
  li {
    width: 100%;
    margin: 0;
    white-space: normal; /* Restaura el salto de línea en el texto */
    overflow: visible; /* Hace visible el contenido desbordado */
  }
  img {
    width: 180px;
    height: 130px;
    display: block;
    margin: auto;
    margin-top: 5px;
    padding: 5px;
  }
  .estilo {
    white-space: normal;
    text-overflow: clip;
  }
}
/* dispostivo movil */

@media (max-width: 415px) {
  #logo {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 3px;
    width: 350px;
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
  }

  [data-testid="select-filter"] {
    display: flex;
    flex-direction: center;
    width: 110px;
    height: auto;
    text-align: center;
    border: none;
    border-radius: 5px;
  }
  button {
    border: none;
    color: black;
    font-size: 17px;
    margin-left: 120px;
    margin-top: 5%;
    padding: 7px 7px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #fddb3a;
  }
  li {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    text-align: left;
    display: flex;
    justify-content: center; /* Centra verticalmente las tarjetas en la columna */
  }
  img {
    width: 180px;
    height: 130px;
    display: block;
    margin: auto;
    margin-top: 5px;
    padding: 5px;
  }
}
@media (max-width: 480px) {
  #logo {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 3px;
    width: 340px;
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
  }

  [data-testid="select-filter"] {
    display: flex;
    flex-direction: center;
    width: 150px;
    height: auto;
    text-align: center;
  }
  button {
    border: none;
    color: black;
    font-size: 17px;
    margin-left: 120px;
    margin-top: 5%;
    padding: 7px 7px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #fddb3a;
  }
  li {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    text-align: left;
    display: flex;
    justify-content: center; /* Centra verticalmente las tarjetas en la columna */
  }
  img {
    width: 180px;
    height: 130px;
    display: block;
    margin: auto;
    margin-top: 5px;
    padding: 5px;
  }
}
